@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';
body {
    background: linear-gradient(25deg, #e37682 15%, #5f4d93 85%);
    margin: 0;
}
div {
    display: block;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
#wrapper {
    width: 90.7em;
    max-width: calc(100% - 4em);
    margin-left: 226px;
    margin-right: 226px ;
}
/*header*/


header#header.alt {
padding: 6em 4em 3em 4em;
}

#header {
    text-align: center;
    display: block;
    font-family: "Source Sans Pro",Helvetica, sans-serif;
    color:white;

}
img.logo {
    max-width: 75%;
}
ul.nav {
    padding:1px;
    color: #636363;
    background-color: #f7f7f7;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    text-align: center;
    font-family: "Source Sans Pro",Helvetica, sans-serif;
    display: block;
    cursor: default;
    
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 0px 0;
    letter-spacing: -0.025em;
    font-family: "Source Sans Pro",Helvetica, sans-serif;
}
#header.alt h1 {
    font-size: 4.6em;
    line-height: 100px;
    padding: 14px 15px 10px
}
span.logo {
    display: block;
    margin: 0 0 10px 0;
}
#header p {
    font-size: 1.65em;
    letter-spacing: -0.030em;
    opacity: 0.7;
    line-height: 50px;
    font-weight: 300;
}
p {
    margin: 0 0 2em 0;
    vertical-align: baseline;
    font: inherit;
    line-height: 1.5;
    font-family: "Source Sans Pro",Helvetica, sans-serif;
    font-weight: 300;
}
header a {
    transition: color 0.2s ease, border-bottom 0.2s ease;
    border-bottom: dotted 1px;
    text-decoration: none;
    color: inherit;
}



/*Nav*/
#nav {
    transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    background-color: #ffffff;
    color: #636363;
    position: absolute;
    width: 90em;
    height: 20px;
    max-width: calc(100% - 4em);
    background-color: #f7f7f7;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    cursor: default;
    text-align: center;
}
#nav + #main {
    padding-top: 4.25em;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#nav ul li {
    -moz-transition: margin 0.2s ease;
    -webkit-transition: margin 0.2s ease;
    -ms-transition: margin 0.2s ease;
    transition: margin 0.2s ease;
    display: inline-block;
    margin: 0 0.35em;
    padding: 0;
    vertical-align: middle;
}
#nav ul li a {
    -moz-transition: font-size 0.2s ease;
    -webkit-transition: font-size 0.2s ease;
    -ms-transition: font-size 0.2s ease;
    transition: font-size 0.2s ease;
    display: inline-block;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 1.25em;
    border: 0;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px transparent;
    font-size: 20px;
    text-decoration: none;
    background-color:rgba(247, 247, 247, 0.95); 
    font-weight: 300;

}

    #nav ul li a:hover {
        background-color: rgba(222, 222, 222, 0.25);
    }

    #nav ul li a.active {
        background-color: #ffffff;
        box-shadow: none;
    }
#nav.alt {
    position: fixed;
    top: 0;
    padding: 0.5em 1em;
    background-color: rgba(247, 247, 247, 0.95);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 10000;
}
/*main*/
    #main > .main {
        padding: 5em 5em 3em 5em;
    }
    div.main {
    padding: 5em 5em 3em 5em;
    background-color: white;
    display:block;
    }
    #nav + ul.main {
        padding-top: 4.25em;
        border-radius: 0.25em;
    }
    div.main {
    background-color: #ffffff;
    color: #636363;
    border-radius: 0.25em;
    }
/*Section Intro*/
section{
display: block;
}
section#intro{
    margin: 0;
    padding: 130px 40px 50px 40px;
    border-bottom: 1px rgb(212, 212, 212);
    height: 35em;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#intro > .main {
    padding: 40px 45px 40px 45px;
}
div.spotlight{
    display: flex;
    align-items: center;
    margin: 0 0 2em 0;
    background-color: #ffffff;
    color: #636363;
    border-radius: 0.25em;
}
div.content{
    display: block;
}
header.major h2 {
    font-size: 47px;
    margin-bottom: 30px;
} 
div.content p {
    font-size: 23px;
    margin-bottom: 70px;
    
}

ul.actions{
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
}
span.image img {
    margin-left: 100px;
    display: block;
    border-radius: 100%;
    width: 22em;
    display: inline-block;
    border-radius: 100%;
    border: solid #dddddd 1px;
    padding: 1em;
} 
#main .spotlight .image {
    border-color: #dddddd;
}
.button1{
    font-family: "Source Sans Pro",Helvetica, sans-serif;
    text-decoration: none;
    color: #636363;
    font-size: 23px;
    font-weight: 300;
}
a.button1 {
    background-color: transparent;
    border-radius:  8px ;
    border: 1px solid #aaaaaa; 
    padding: 15px 50px 15px 50px;
}
.button1:hover {
    background-color: #eeeeee;
    transition-duration: 0.4s 
}


/*Section first*/
section#first {
    justify-content: center;
    padding: 75px 50px 60px 50px;
    margin: 0 0 3em -3em;
    background-color: white;
}
section#first header h2{
    text-align: center;
    font-weight: 300;

}
section#first header {
    justify-content: center;

}
section#first h2::after {
    content: "";
    width: 3.25em;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    margin: 10px 11.5em 60px;
    display: block;
    margin-top: 30px;
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}
ul.nav li {
    display: inline-block;
}
ul.nav a {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 50px;       
    display: block;
    padding: 5px 5px ;
    background-color: white;
    color:grey;
}
.features {
    padding-left: 0;
    text-align: center;
}

.features li {
    display: inline-block;
    margin: 0 50px;
    font-size:20px;
}
ul.features i {
    font-size: 70px;
    margin: 0 0 90px 0;
}
ul.actions-special {
    display: flex;
    text-decoration: none;
    font-family: "Source Sans Pro",Helvetica, sans-serif;
    font-weight: 300;
    list-style: none;
    justify-content: center;
    height: 80px;
    margin:0;
}
a.button {
    text-decoration: none;
    font-size: 25px;
    color:#636363;
    border-radius: 8px;
    border: 0.8px solid #aaaaaa;
    padding: 15px 50px 15px 50px;
    font-family: "Source Sans Pro",Helvetica, sans-serif;
    font-weight: 300;
}
a.button:hover{
    background-color: #eeeeee;
    transition-duration: 0.4s 
}

.title::after {
    content: "";
    width: 130px;
    height: 2px;
    display: block;
    margin-top: 30px;
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}

.features i {
    border: 1px solid rgb(216, 216, 216);
    padding: 13px;
    border-radius: 100%;
    font-size:xx-large;
}

.features i::before {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 100%;
    line-height: 200px;
}
i {
    color:#efa8b0;
} 
.style2 i{
    color: #a89cc8;
}
.style3 i{
    color: #8cc9f0;
}
/*SectionSecond*/
section#second {
    padding: 0px 50px 60px 40px;
}
#second header.major {
    text-align:center;
}
#second header.major h2 {
 height: 80px;
 margin-bottom: 65px;
}
#second header.major h2::after{
    content: "";
    width: 3.25em;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    margin: 10px 11em 100px;
    display: block;
    margin-top: 30px;
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}
#second header.major p {
    font-size: 25px
}
.statistics {
    display: flex;
    width: 100%;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    cursor: default;
    font-size: 30px;
    text-align:center;
    font-family: "Source Sans Pro",Helvetica, sans-serif;
    border-radius: 8px;
}
.statistics li{
    width: 100px;
    height: 4em;
    padding: 70px;
    font-weight: 300;
    color:white;
}
.statistics i {
    font-size: 50px;
    color:white;

}
.statistics li strong, .statistics li b {
    display: block;
    font-size: 40px;
    line-height: 1.1;
    color: inherit !important;
    font-weight: 300;
    letter-spacing: -0.025em;
}

.statistics li.style1 {
background-color: #efa8b0;
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}
.statistics li.style2 {
background-color: #c79cc8;
}
.statistics li.style3 {
background-color: #a89cc8
}
.statistics li.style4 {
background-color: #9bb2e1;
}
.statistics li.style5 {
background-color: #8cc9f0;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}
#second p.content {
    columns: 20em 2;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    -ms-column-gap: 2em;
    column-gap: 2em;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 80px;
}
#second ul.actions-special{
    justify-content: center;
    padding: 0;
}
section.cta {
    padding: 0px 20px 0px 20px ;
    text-align: center;
}
section.cta header {
    text-align: center;
}
.cta .actions-special li {
    margin-right: 20px;
}
a.button-primary{
    color: white;
    background-color:#8cc9f0;
    border-radius: 8px;
    padding: 15px 50px 15px 50px;
    text-decoration: none;
    font-size: 25px;
}
a.button-primary:hover {
    background-color: #a4dcff;
    transition-duration: 0.4s 
}
/*footer*/
footer#footer{
padding: 130px;
color:white;
display: flex;
flex-wrap: wrap;
margin: 0 0 3em -2em;
justify-content: center;
}
footer#footer section {
    width: 25em;
    margin-left: 50px;
    height: 20em;
    font-size: 22px;

}

#footer ul.iconfooter {
    list-style:none;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    width: 20em;
    height: 4em

}
ul.iconfooter li{
    border-radius: 8px;
    border: 1px white
}