@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';
body {
    background: linear-gradient(25deg, #e37682 15%, #5f4d93 85%);
    margin: 0;
}
div {
    display: block;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
#wrapper {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    vertical-align: baseline;
    width: 20px;
    vertical-align: center;
}
/*header*/
header {
    padding: 210px 20px 60px
}

header#header.alt {
padding: 6em 4em 3em 4em;
}

#header {
    text-align: center;
    display: block;
    font-family: "Source Sans Pro",Helvetica, sans-serif;
    color:white;

}
img.logo {
    max-width: 75%;
}
ul.nav {
    padding:1px;
    color: #636363;
    background-color: #f7f7f7;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    text-align: center;
    font-family: "Source Sans Pro",Helvetica, sans-serif;
    display: block;
    cursor: default;
    
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 0px 0;
    letter-spacing: -0.025em;
    font-family: "Source Sans Pro",Helvetica, sans-serif;
}
#header.alt h1 {
    font-size: 4.6em;
    line-height: 100px;
    padding: 14px 15px 10px
}
span.logo {
    display: block;
    margin: 0 0 10px 0;
}
#header p {
    font-size: 1.65em;
    letter-spacing: -0.030em;
    opacity: 0.7;
    line-height: 50px;
    font-weight: 300;
}
p {
    margin: 0 0 2em 0;
    vertical-align: baseline;
    font: inherit;
    line-height: 1.5;
    font-family: "Source Sans Pro",Helvetica, sans-serif;
    font-weight: 300;
}
header a {
    transition: color 0.2s ease, border-bottom 0.2s ease;
    border-bottom: dotted 1px;
    text-decoration: none;
    color: inherit;
}



/*Nav*/

.nav {
    -moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    background-color: #ffffff;
    color: #636363;
    position: absolute;
    width: 63.8em;
    max-width: calc(100% - 4em);
    background-color: #f7f7f7;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    cursor: default;
    text-align: center;
}

.nav {
    list-style: none;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
    padding: 30px
}
/*main*/
    div.main {
    padding: 5em 5em 3em 5em;
    background-color: white
    }
    #nav + .main {
        padding-top: 4.25em;
    }
/*Section Intro*/
section#intro{
    padding: 20px 20px 30px 20px
}
div.spotlight{
    display: flex;
    align-items: center;
    margin: 0 0 2em 0;
    background-color: #ffffff;
    color: #636363;
    border-radius: 0.25em;
}
div.content{
    display: block;
}
.actions{
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
    padding-left: 0;
}
.actions a{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    background-color: #ffffff;
    border-color: #636363;
    border-radius: 0.25em;
    padding: 0px 28px 0px 28px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    border-radius: 8px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    height: 2.75em;
    line-height: 2.75em;
    min-width: 9.25em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

}
.buttom{
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    border-radius: 8px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    height: 2.75em;
    line-height: 2.75em;
    min-width: 9.25em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}


/*Section first*/
section#first {
    justify-content: center;
    padding-left: 20px;
    margin: 0 0 3em -3em;
    background-color: white;
}
ul.nav li {
    display: inline-block;
}
ul.nav a {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 50px;       
    display: block;
    padding: 5px 5px ;
    background-color: white;
    color:grey;
}
.features {
    padding-left: 0;
    text-align: center;
}

.features li {
    display: inline-block;
    margin: 0 25px;
}
ul.features i {
    font-size: 70px;
    margin: 0 0 90px 0;
}
ul.features a.buttom {
    display: block;
}

.title::after {
    content: "";
    width: 130px;
    height: 2px;
    display: block;
    margin-top: 30px;
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}

.features i {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 100%;
}

.features i::before {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 100%;
    line-height: 200px;
}


